* text=auto eol=lf
*.cpp text working-tree-encoding=UTF-8
*.h text working-tree-encoding=UTF-8
*.html text working-tree-encoding=UTF-8
*.css text working-tree-encoding=UTF-8
*.js text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8